/**
 * General elements
 */
 /* general */
html {background: #0066ff;
      overflow-y: scroll;
}

body {
  font-size:90%;
  margin: 8px auto;
  width: 934px;
  padding: 20px;
  background: #e6ffff;
  border: 0px dashed #000000;
  font-family: Helvetica, serif;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}


h1 {
  text-transform: uppercase;
  /* border-bottom: 1px solid #ddd; */
}



.black a:link,
a:visited,
a:active,
a:hover { 
    color:#000; 
    text-decoration:none;
}



/* html5 elements
--------------------------------------------------------
*/
header,footer,nav,article,section,aside,figure,figcaption,output{display:block;}

article {
    width:72%;
    text-align:justify;
}

article.source {
    font-size:110%;
    width:93%;
}        
article.me {
    width:93%;
    text-align:justify;
}

aside {
   width:22%;
}

 
/**
 * Layout of the main page elements

 */
 
 .pagenum {
    padding:4px;
    border: 1px;
    border-style: solid;
    border-color:#f1da36;
    margin: 2px;
}

.pagenum_current {
    padding:4px;
    border: 1px;
    border-style: solid;
    border-color:#f1da36;
    background:#f1da36;
    margin: 2px;
}
 
.right {
    float:right;
}
.center {
    text-align:center;
}
 
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}
#above_header {

  margin-bottom: 0px;
}
 
.sitetitle {
  position: absolute;
  top: 0px;
  left: 130px;
  font-size: 48px;
  color:#000;
}
 
.siteslogan {
  position: absolute;
  top: 55px;
  left: 130px;
  font-style: italic;
  color: #666;
}

/* navigation menus */

nav.related, nav.login {
   padding:0.2em 1em 0.3em 1em;
   color:#fff;
   background: #0066ff;
   margin-bottom:10px;
   width:885px;
}

nav.related, nav.login a:visited { text-decoration:none;
           color:#FFF;
}
nav.related a:hover,
nav.related a:visited,
nav.related a:link,
nav.related a:active {
    text-decoration:none;
    text-align:center;
    color:#FFF;
}

.skugga {background-image: url(../img/movie/skugga_info.gif);}

.orderby a {
  text-decoration: none;
  color: black;
}

.dbtable {

    width:93%;

}

th, td {
  border:double 1px;
  text-align:center;
}  
  

.dbtable table {
  width: 100%;
    
}

.dbtable .rows {
  text-align: right;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;

}

.dbtable .pages {
  text-align: center;
    margin-top:10px;


}

.debug {
  color: #666;
}

.page a:hover,
    a:visited,
    a:link,
    a:active {

    color:#000;

}

/* menystil */
nav.navbar {}
 
.navbar ul {
    display: block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #0066ff;
    border-bottom: 1px solid #e4f087;
    margin-bottom:10px;
    margin-top:10px;
    width:895px;
    font-size:140%;
    color:#fff;
}
 
nav.navbar ul li {
  display: inline;
  position: relative; /* New - to place the drop-down menu correctly */

}
 
nav.navbar a {
  white-space: nowrap; /* New - to make the drop-down menu items stay on one row */
  width:100%;
  text-decoration: none;
  border: 1px solid transparent; 
  color: #fff
}

nav.navbar .selected {
  white-space: nowrap; /* New - to make the drop-down menu items stay on one row */
    padding:5px;
    background: #858585;
    border: 2px solid #858585; 
    color:#FFF;
    text-decoration:none;
}

nav.navbar .selected-parent,
nav.navbar .selected {
  white-space: nowrap; /* New - to make the drop-down menu items stay on one row */
    background: #858585;
    border: 2px solid #858585; 
    color:#FFF;
    text-decoration:none;

}
 
nav.navbar a:hover {
    background: #858585;
    padding:5px;
    border: 2px solid #656565; 
    color:#FFF;
        font-size:80%;
}
 
nav.navbar ul li .selected-parent, /* New - to style the selected parent */
.navbar a.selected {
  color: #222; 
      background: #858585;
    padding:5px;
    border: 2px solid #656565; 

}
 
 
/* New - to style the submenu, start by hiding it using absolute positioning */
nav.navbar ul ul {
  background-color: #fff; 
  padding: 8px; 
  position: absolute; 

}
 
/* Display the submenu when hovering the list element, absolute positioning */
nav.navbar li:hover ul {
        background: #858585;
    padding:5px;
    border: 2px solid #656565; 
    color:#FFF;
  left: 0;
}
 
/* New - style items of the submenu when hovering and selected */
nav.navbar li li a:hover,
nav.navbar li li a.selected {
    background: #858585;
    padding:5px;
    border: 2px solid #656565; 
    color:#FFF;
  
}

/* fast position på kmom-menyn */
nav.vmenu {width:200px; position:fixed;} 

nav.navmenu {
    display: block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #0066ff;
    border-bottom: 1px solid #e4f087;
    margin-bottom:10px;
    margin-top:10px;
    width:895px;
    font-size:140%;
    color:#fff;
   
}
nav.navmenu a.selected {
    background: #858585;
    padding:5px;
    border: 2px solid #858585; 
    color:#FFF;
    text-decoration:none;
}
nav.navmenu a:link    {
    color:#fff;
    text-decoration:none;
    margin-right:15px;
}
nav.navmenu a:visited { text-decoration:none;
           color:#FFF;
}
nav.navmenu a:hover   {    
    background: none repeat scroll 0 0 #858585;
    padding:5px;
    border: 2px solid #656565; 
    color:#FFF;
}
nav.navmenu a:active  {  text-decoration:none; 
       color:#FFF;
}

/**
 * Filmtabell
 */
.film_table {border: 1px solid #e6e6e6;
    margin: 1em;
    padding: 4px;
    text-align: center;
    width:93%;
}

.film_coltitle {
    text-align:center;
    background:#185F0C;
    color:#FFF;
}    

.image_h_w {
    max-width:75px;
}    




/**
 * Layout for main
 */
#main {
  min-height: 20em;
}

figure.profilbild {
    border: 1px solid #e6e6e6;
    margin: 1em;
    padding: 4px;
    text-align: center;
}

figure.bylinebild {
    border: 1px solid #e6e6e6;
    margin: 1em;
    padding: 4px;
    text-align: center;
}

figure.right {
    margin-right: 0;
}


figure.top {
    margin-top: 0;
}
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  width:93%;
}
 
.sitefooter {
  color: #666;

}

footer.byline {
	overflow:auto;
        clear: both;
	border-top: 1px dashed #999999;

	padding: 1em;
	color: #555555;
	font-size: 90%;
	font-style:italic;
}

footer.byline img {
    padding:2px;outline:#999999 groove 1px;
}
